{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <div class="custom-container">
        <h1 class="display-4">QR Code App</h1>
        <p class="lead">Táto aplikácia vám umožňuje jednoducho generovať a zdieľať QR kódy pre platby.</p>

        <h2 class="mt-5">Funkcie aplikácie</h2>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item">Generovanie QR kódov pre platby</li>
            <li class="list-group-item">Ukladanie uložených platieb a ich zobrazenie</li>
            <li class="list-group-item">Pridávanie a správa IBAN čísel pre platby</li>
            <li class="list-group-item">Zobrazenie prehľadu IBAN čísel</li>
        </ul>

        <h2 class="mt-5">Ako začať</h2>
        <ol class="list-group list-group-numbered text-start">
            <li class="list-group-item">Registrovať sa do aplikácie</li>
            <li class="list-group-item">Prihlásiť sa do aplikácie</li>
            <li class="list-group-item">Pridať IBAN číslo pre prijímanie platieb</li>
            <li class="list-group-item">Generovať QR kód pre platbu</li>
        </ol>

        <h2 class="mt-5">Vysvetlenie fungovania tlačidiel v okne Zdieľanie platby</h2>
        <ul class="list-group text-start custom-list"><style>.custom-list li::before{content: "• ";}</style>
            <li class="list-group-item">Tlačidlo <strong>Uložiť platbu</strong> slúži na uloženie platby pre ďalšie použitie</li>
            <li class="list-group-item">Tlačidlo <strong>Ukážka</strong> slúži na zobrazenie vyplneného formulária s vygenerovaním QR kódu</li>
        </ul>

        <h2 class="mt-5">Uložené platby</h2>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item">Uložené platby slúžia k evidencii a rýchlemu prístupu k vašim skôr uloženým platbám</li>
            <li class="list-group-item">Po uložení platby budete môcť ľahko získať prístup k QR kódu a potrebným informáciám o danej platbe</li>
            <li class="list-group-item">Uložené platby môžete kedykoľvek upraviť a odstrániť</li>
        </ul>

        <h2 class="mt-5">Prehľad IBAN-ov</h2>
        <ul class="list-group list-group-flush text-start">
            <li class="list-group-item">Prehľad IBAN-ov vám umožní evidovať a spravovať vaše bankové účty</li>
            <li class="list-group-item">Tu môžete jednoducho sledovať, upravovať, odstraňovať svoje IBAN čísla podľa vašich potrieb</li>
        </ul>

        <h2 class="mt-5">Kontaktujte nás</h2>
        <p class="lead">Ak máte akékoľvek otázky alebo problémy, kontaktujte nás na <a href="mailto:info@qrcodeapp.sk">info@qrcodeapp.sk</a></p>
        </div>
    </div>
{% endblock %}
